Source: slurm-llnl
Section: admin
Priority: extra
Maintainer: Q-Leap Debian Packaging Team <dpkg-team@q-leap.de>
Uploaders: Roland Fehrenbacher <rf@q-leap.de>,
Build-Depends: autotools-dev,
               chrpath,
               debhelper (>= 9.20130504),
               dh-autoreconf,
               dh-exec,
               dh-systemd (>= 1.5),
               hdf5-helpers,
               libglade2-dev,
               libgtk2.0-dev,
               libhdf5-dev,
               libhwloc-dev,
	       libibmad-dev,
	       libibumad-dev,
               libipmimonitoring-dev,
               liblua5.2-dev,
               libmariadb-dev,
               libmunge-dev,
               libncurses5-dev,
               libnuma-dev,
               libpam0g-dev,
               libperl-dev,
               libpmix-dev,
               libreadline-dev,
               librrd-dev,
               po-debconf,
               python,
               ql-deb-utils,
Standards-Version: 4.1.4
Homepage: http://slurm.schedmd.com

Package: slurm-client
Architecture: any
Depends: munge,
         slurm-wlm-basic-plugins (= ${binary:Version}),
         ucf,
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM client side commands
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains all client side commands.

Package: slurm-client-dbg
Architecture: any
Section: debug
Depends: slurm-client (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM client side commands
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for all client side
 commands.

Package: slurmd
Architecture: any
Depends: lsb-base (>= 3.2-12),
         munge,
         slurm-wlm-basic-plugins (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM compute node daemon
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the compute node demon slurmd.

Package: slurmd-dbg
Architecture: any
Section: debug
Depends: slurmd (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM compute node daemon
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for the compute node daemon
 slurmd.

Package: slurmctld
Architecture: any
Depends: adduser,
         lsb-base (>= 3.2-12),
         munge,
         slurm-client (= ${binary:Version}),
         slurm-wlm-basic-plugins (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM central management daemon
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the central management demon slurmctld.

Package: slurmctld-dbg
Architecture: any
Section: debug
Depends: slurmctld (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM central management daemon
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for central management
 daemon slurmctld.

Package: libslurmdb32
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Runtime library files for the SLURM DataBase Daemon
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM DataBase Daemon runtime library.

Package: libslurmdb32-dbg
Architecture: any
Section: debug
Depends: libslurmdb32 (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM slurmdbd runtime library
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for slurmdbd runtime
 library.

Package: libslurm32
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Runtime library files for SLURM
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM runtime library.

Package: libslurm32-dbg
Architecture: any
Section: debug
Depends: libslurm32 (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM slurm runtime library
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for slurm runtime
 library.

Package: libpmi0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM PMI library implementation
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM PMI runtime implementation.

Package: libpmi0-dbg
Architecture: any
Section: debug
Depends: libpmi0 (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM PMI library implementation
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for SLURM PMI library
 implementation.

Package: libpmi2-0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libpmi2,
Replaces: libpmi2,
Provides: libpmi2,
Description: SLURM PMI2 library implementation
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM PMI2 runtime implementation.

Package: libpmi2-0-dbg
Architecture: any
Section: debug
Depends: libpmi0 (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM PMI2 library implementation
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for SLURM PMI2 library
 implementation.

Package: libslurm-dev
Section: libdevel
Architecture: any
Depends: libslurm32 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM development files
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains SLURM static library and header files.

Package: libslurmdb-dev
Section: libdevel
Architecture: any
Depends: libslurmdb32 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM DataBase Daemon development files
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains SLURM DataBase Daemon static library and header files.

Package: libpmi0-dev
Section: libdevel
Architecture: any
Depends: libpmi0 (= ${binary:Version}),
         libslurm32 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM PMI library implementation development files
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM PMI implementation static library and header
 files

Package: libpmi2-0-dev
Section: libdevel
Architecture: any
Depends: libpmi2-0 (= ${binary:Version}),
         libslurm32 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libpmi2-dev,
Replaces: libpmi2-dev,
Provides: libpmi2-dev,
Description: SLURM PMI2 library implementation development files
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM PMI2 implementation static library and header
 files

Package: slurm-wlm-doc
Section: doc
Architecture: all
Depends: libjs-jquery,
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM docmentation
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM html documentation.

Package: slurm-wlm-basic-plugins
Architecture: any
Depends: libpmix2,
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM basic plugins
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains the SLURM basic plugins

Package: slurm-wlm-basic-plugins-dbg
Architecture: any
Section: debug
Depends: slurm-wlm-basic-plugins (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for SLURM basic plugins
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for basic plugins.

Package: slurm-wlm-basic-plugins-dev
Section: devel
Architecture: any
Depends: slurm-wlm-basic-plugins (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: SLURM basic plugins development files
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains development files for the SLURM basic plugins

Package: sview
Architecture: any
Depends: slurm-client (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: GUI to view and modify SLURM state
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contains sview a GUI that can be used to view SLURM
 configuration, job, step, node and partitions state information.
 Authorized users can also modify select information.

Package: slurmdbd
Architecture: any
Depends: adduser,
         lsb-base (>= 3.2-12),
         munge,
         slurm-wlm-basic-plugins (= ${binary:Version}),
         ucf,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Secure enterprise-wide interface to a database for SLURM
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 This package contain SlurmDBD (Slurm DataBase Daemon) that can be
 used to securely manage the accounting data for several Slurm
 clusters in a central location and sacctmgr a command for managing
 user accounts in SlurmDBD.

Package: slurmdbd-dbg
Architecture: any
Section: debug
Depends: slurmdbd (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for slurmdbd daemon
 SLURM stands for Simple Linux Utility for Resource Management, it
 is an open-source cluster resource management and job scheduling system
 that strives to be simple, scalable, portable, fault-tolerant, and
 interconnect agnostic.
 This package contains the debugging symbols for slurmdbd daemon.

Package: libslurm-perl
Section: perl
Architecture: any
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Description: Perl API for SLURM
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 .
 This package contains the Perl module.

Package: libslurmdb-perl
Section: perl
Architecture: any
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Description: Perl API for the SLURM database
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 .
 This package contains the Perl module for the SLURM database.

Package: slurm-wlm-torque
Architecture: all
Depends: libslurm-perl (>= ${source:Version}),
         libslurmdb-perl (>= ${source:Version}),
         libswitch-perl,
         slurm-client (>= ${source:Version}),
         ${misc:Depends},
         ${perl:Depends},
Conflicts: gridengine-client,
           torque-client,
           torque-client-x11,
Description: Torque compatibility wrappers for SLURM
 SLURM, the Simple Linux Utility for Resource Management,
 is an open-source cluster resource management and job scheduling.
 .
 This package contains the Torque compatibility wrappers.

Package: libpam-slurm
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: PAM module to authenticate using the SLURM resource manager
 Pluggable Authentication Module (PAM) for restricting access to compute
 nodes where SLURM performs resource management. Access to the node is
 restricted to user root and users who have been allocated resources on
 that node.
