[Unit]
Description=Slurm controller daemon
After=network.target nss-lookup.target munge.service slurmdbd.service
ConditionPathExists=/etc/qlustar/common/slurm-llnl/slurm.conf
Documentation=man:slurmctld(8)

[Service]
Type=forking
EnvironmentFile=-/etc/default/slurmctld
ExecStart=/usr/sbin/slurmctld $SLURMCTLD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/slurm/slurmctld.pid
User=slurm
Group=slurm
RuntimeDirectory=slurm
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
